1. Parking Lot should contain multiple floors for parking facility.
2. Parking lot should contain multiple categories of parking facility Compact, Large, Medium, Electric_Compact, Electric_Medium
3. Parking lot should contain parking facility for different vehicles such as Car, Bike, Cycle, Truck, Electric car, Electric bike
4. Parking lot should contain multiple entry and exit points for different category of vehicles.
5. A SMS should be sent taking contact number at the entrance to the customer so that the process can be made paperless. 
6. Customers should be allowed to pay through cash or cards or through the UPI using link sent to contact number while they exit.
7. The charges should be 30 Rs for 1st hour, 20 Rs for 2nd hour and 10Rs per hour for next hours.(Random assumption)
8. There should be an attendant to forsee and look into procedure if there arises any issue. 
9. Additionally , A charging facility for electric vehicles should be provided charging the vehicle hourly.
10. A display facility at each floor to show empty places for parking and if is full, display the same for different category of vehicles.
